*,* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    margin: 0px auto;
    max-width: 1920px;
    position: relative;
}

.wrapper {
    margin: 0px auto;
    max-width: 1920px;
    position: relative;
    width: 1190px;
}

.button {
    background-image: -moz-linear-gradient( -90deg, #ff4c1c 0%, rgb(255,110,3) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(244,161,0) 0%, rgb(255,110,3) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(244,161,0) 0%, rgb(255,110,3) 100%);
    width: 365px;
    height: 68px;
    opacity: 1;
    transition: all 200ms;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 65px;
    border-radius: 37px;
    margin: 0px auto;
}
.button:hover {opacity: 0.9;}

.link {
    transition: all 200ms;
    display: block;
    text-align: center;
    margin: 33px auto 35px;
    color: #0c85ec;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}
.link:hover {opacity: 0.9;}

.title {
    font-size: 36px;
    text-align: left;
    font-weight: 700;
    color: #000000;
    padding: 70px 0px 48px;
}
.headerimg{
    width: 100%;
    background-image: url('images/BackGround.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.makeorder
{
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.makeorder .title3{
    font-size: 20px;
    padding: 20px 0px 20px 0px;
}
.makeorder .block1{
    font-size: 15px;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.281);
    width: 100%;
    min-width: 356px;
    line-height: 30px;
    text-align: center;
    position: static;
}
.makeorder .list{
    margin: 10px;
    text-align: center;
    display: inline-block;
}
.makeorder .list li{
    width: 30%;
    display: inline-block;
    min-width: 356px;
    position: relative;
    padding: 15px;
}
.makeorder .list li div{
    text-align: left;
}
.makeorder .list li input{
    width: 100%;
    text-align: left; 
    align-self: left;  
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border: none;
    background-color:#f3f3f3;
    color: #b5b5b5;
}

.makeorder .list2{
    display: inline-block;
    width: 100%;
}
.makeorder .list2 div
{
    font-size: 16px;
    text-align: right;
    display: inline-block;
}
.makeorder .block2{
    padding: 0px 20px 20px 0px;
    font-size: 15px;
    float: right;
}
.makeorder .block2  input{  
    padding:  10px 10px 10px 10px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    border: none;
    background-color:#ff4c1c;
    color: #fff;
}


.box1 {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    font-size: 0;
}
.box1 .logo {
    display: block;
    padding: 11px 2px;
}
.box1 .logo img {
    max-width: 100%;
    max-height: 100%;
}
.box1 .title1 {
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 42px;
    padding: 120px 0% 20px 0px;
    text-align: left;
}
.box1 .title2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
    padding: 60px 0px 20px 0px;
}
.box1 .cardinfo {
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.281);
    width: 100%;
    max-width: 965px;
    min-height: 528px;
    height: auto;
    margin: 43px auto 90px;
    color: #434343;
}
.box1 .cardinfo .img {
    display: inline-block;
    vertical-align: top;
    padding: 53px 16px 0px 19px;
    width: 100%;
    max-width: 507px;
}
.box1 .cardinfo .img img {
    max-width: 100%;
}
.box1 .cardinfo .info {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 375px;
    padding: 70px 0px 0px;
}
.box1 .cardinfo .info p {
    font-size: 27px;
    line-height: 42px;
    margin: 0px 0px 14px;
}
.box1 .cardinfo .info p span  {
    font-size: 50px;
    display: block;
    font-weight: 700;
}
.box1 .button {
    margin: 0px 0px 53px 91px;
}
.lefthalfblock{
    padding: 0% 55% 0% 0%;
}




.fullwidth{
    width: 100%;
}


.box3 {
    width: 100%;
    padding: 0px 0px 70px;
    text-align: center;
}

.box3 .list {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.box3 .list li {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.281);
    margin: 18px 20px;
    max-width: 20%;
    min-width: 250px;
    text-align: center;
    position: relative;
}
.box3 .list li img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}

.box3 .list .kigurumiblock{
    min-height: 100px;
}
.box3 .list .infoblock{
    padding: 10px;
    min-height: 100px;
}
.box3 .list .infoblock .maininfo{
    vertical-align: top;
    display: inline-block;
    width: 100%;
} 
.box3 .list .infoblock .maininfo .curentpriceorange{
    display: inline;
    color: #ff4c1c;
    font-size: 20px;
    float: left;
}
.box3 .list .infoblock .maininfo .curentpriceblack{
    display: inline;
    color: #ff4c1c;
    font-size: 20px;
    float: left;
}
.box3 .list .infoblock .maininfo .oldprice{
    display: inline;
    color: #b5b5b5;
    margin-left: 5px;
    text-decoration: line-through;
    float: left;
}
.box3 .list .infoblock .maininfo .canbuy{
    display: inline;
    color: #0cb923;
    float: right;
}
.box3 .list .infoblock .maininfo .cantbuy{
    display: inline;
    color: #b5b5b5;
    float: right;
}
.box3 .list .infoblock .name{
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    
    margin-bottom: 10px;
}
.box3 .list .infoblock .description{
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    
    margin-bottom: 10px;
}
.box3 .list .infoblock .btninline input{
    padding: 10px 45px 10px 45px ;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    border: none;
    background-color:#ff4c1c;
    color: #fff;
}

.box3 .list .infoblock .btnoutline input{
    padding: 10px 45px 10px 45px ;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    border-color: #ff4c1c;
    border-style: solid;
    background-color:#fff;
    color: #ff4c1c;
}







.baner{
    width: 100%;
    text-align: center;
}
.baner img{
    border-radius: 24px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.281);
}

 #greenbg{
     
    background-color: lawngreen;
 }

.payerinfo {
    width: 100%;
}
.payerinfo .list{ 
    margin: auto;
    width: 100%;
}
.payerinfo .block3 {
    padding: 40px 20px 40px 20px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.281);
    width: 45%;
    color: #434343;
}
.payerinfo .img{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.payerinfo .img img{ 
    height: 90px;
}
.payerinfo .info {
    vertical-align: middle;
    color: #000;
    display: inline-block;
    width: 100%;
    text-align: left;
    max-width: 375px;
}
#paytitle
{
    padding-top: 70px;
    font-size: 30px;
}

.footer {
    background-color: #ff4c1c;
    width: 100%;
    font-size: 16px;
    padding: 50px 0px;
    box-align: center
}
.footer .info {
    text-align: center;
    display: inline-block;
}
.footer .info li{
    color: #fff;
    text-align: left;
    width: 40%;
    display: inline-block;
    min-width: 356px;
    position: relative;
    padding: 15px;
    font-size: 18px;
    line-height: 30px;
}



@media screen and (max-width: 1190px) {
.wrapper {
    width: 100%;
}
.box1 .cardinfo {
    text-align: center;
    overflow: hidden;
}
.box1 .button {
    margin: 7px auto 30px;
}

.box4 .info {
    margin: 15px;
}
}



@media screen and (max-width: 800px) {
.box1 .title1 {
    font-size: 40px;
    padding: 8px 0px 7px;
}
.box1 .title2 {
    font-size: 31px;
}
.box1 .cardinfo .img {
    padding: 22px 0px 0px 0px;
}
.box1 .cardinfo .info {
    padding: 0px 0px 0px;
}
.box1 .cardinfo .info p span {
    font-size: 40px;
}
.box1 .cardinfo .info p {
    font-size: 22px;
}
.title {
    font-size: 40px;
    padding: 40px 0px 30px;
}



}
@media screen and (max-width: 500px) {
.box3 .list li {
    min-width: 0px;
    width: 89%;
    margin: 18px auto;
}
.box3 .list li img {
    max-width: 80%;
}

.button {
    max-width: 100%;
}

.title {
    font-size: 34px;
}





}
@media screen and (max-width: 1190px) {}
@media screen and (max-width: 1190px) {}
@media screen and (max-width: 1190px) {}